.pull-right
  - if @real_estate.persisted?
    = link_to cms_real_estate_path(@real_estate), :method => :delete, :confirm => t('.confirm_delete', :title => @real_estate.title), :class => 'btn btn-danger' do
      %i.icon-trash.icon-white
      = t('.destroy')
  
  = link_to(cms_real_estates_path, :class => 'btn') do
    %i.icon-list
    = t('.overview')