-if model.errors.any?
  .alert-message.block-message.error
    %p
      %strong= "Beim Speichern #{model.errors.count > 1 ? 'sind' : 'ist' } #{model.errors.count} Fehler aufgetreten"
    %p
      %ul
        - model.errors.full_messages.each do |msg|
          %li= msg