.services-slides-container
  .rent-slide
    .rent-handle.handle
      %h3 Mieten
    .flex-container
      .flexslider
        %ul.slides
          - 3.times do
            %li
              = image_tag "jobs-contact.jpg"
  .sale-slide
    .sale-handle.handle
      %h3 Kaufen
    .flex-container
      .flexslider
        %ul.slides
          - 3.times do
            %li
              = image_tag "jobs-contact.jpg"
  .build-slide
    .build-handle.handle
      %h3 Bauen
    .flex-container
      .flexslider
        %ul.slides
          - 3.times do
            %li
              = image_tag "jobs-contact.jpg"

