.services-slides-container
  .rent-slide.open
    .rent-handle.handle
      %h3 Mieten
    - unless @projects_for_rent.empty?
      = render 'slider', :projects => @projects_for_rent
  .sale-slide
    .sale-handle.handle
      %h3 Kaufen
    - unless @projects_for_sale.empty?
      = render 'slider', :projects => @projects_for_sale
  .build-slide
    .build-handle.handle
      %h3 Bauen
    - unless @projects_for_build.empty?
      = render 'slider', :projects => @projects_for_build
