.services-slides-container
  .rent-slide.open
    .rent-handle.handle
      %h3 Mieten
    = render 'slider', :projects => @projects_for_rent
  .sale-slide
    .sale-handle.handle
      %h3 Kaufen
    = render 'slider', :projects => @projects_for_sale
  .build-slide
    .build-handle.handle
      %h3 Bauen
    = render 'slider', :projects => @projects_for_build
