- if params[:print].present?
  :coffeescript
    window.onload = ->
      window.print()

.floorplans
  - @real_estate.floor_plans.each do |floor_plan|
    .north-arrow
      = floor_plan.north_arrow_img_tag
    = image_tag floor_plan.file.gallery_zoom.url

