- if params[:print].present?
  :coffeescript
    window.onload = ->
      window.print()

.floorplans
  .north-arrow
    = @real_estate.north_arrow_img_tag
  - @real_estate.floor_plans.each do |floor_plan|
    = image_tag floor_plan.file.url

