.expandable
  = markdown(brick.text)
  - if brick.more_text.present?
    = link_to t('pages.show.more'), '#', :class => 'more'
    .expandable-content.hidden
      = markdown(brick.more_text)
      %div
        = link_to t('pages.show.less'), '#', :class => 'less'
