= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @image, :as => :image, :url => cms_real_estate_images_path(@real_estate), :html => { :multipart => true } do |f|
  = render 'form', :f => f
