%video#image-movie.sublime{ title: 'Unternehmen: Imagemovie', poster: "/movies/alfred_mueller_#{I18n.locale}.jpg", width: '100%', height: '100%', preload: 'preload' }
  %source{ src: "/movies/alfred_mueller_#{I18n.locale}.mp4" }
