.body{ :style => 'padding-top:60px' }
  .topbar
    .topbar-inner
      .container
        %h3= link_to 'Alfred Müller', '/'
        %ul
          %li ... Simple nav
        
  .container
    .content
      .row
        .span11
          = yield
        .span1
          &nbsp;
        .span4
          %h3 Sidebar