.handout-order
  .headline
    %h2= t ".headline"

  .contact-form
    = render "handout_orders/form"

  .col.appointment-contact-details
    %h3= t "handout_orders.order_information.headline"
    = @real_estate.contact.basic_contact_info
