.chapter.floorplan
  %h2= t('.title')

  - @real_estate.floor_plans.each do |floorplan|
    - if File.exist?(floorplan.file.path)
      .floorplan-image.pbi-avoid
        %div
          = floorplan.north_arrow_img_tag
        = image_tag(floorplan.file.minidoku.url)
