- if @real_estate.media_assets.floorplans.any?
  .chapter.floorplan.pbi-avoid
    %h2= t('.title')

    - @real_estate.media_assets.floorplans.each do |floorplan|
      .floorplan-image.pbi-avoid
        = image_tag(floorplan.file.url)
