.chapter.floorplan.pb-after
  %h2= t('.title')

  - @real_estate.floor_plans.each do |floorplan|
    .floorplan-image.pbi-avoid
      %div
        = @real_estate.north_arrow_img_tag
      = image_tag(floorplan.file.minidoku.url)
