.chapter.pricing.pbi-avoid
  %h2= t('pricings.title')

  - PricingDecorator::INVARIANT_PRICING_FIELDS.each do |pricing_field|
    = pricing.render_pricing_field(pricing_field)

  - if pricing.opted?
    .disclaimer= t('pricings.without_vat')
