<html>
  <head>
    <script type="text/javascript">
      function subst() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>

    <script type="text/javascript">
      function handleFooterVisibility() {
        var currentPage=document.getElementsByClassName('page')[0].textContent;
        if (currentPage=="1")
          document.getElementById("title-page-footer").style.display = "block";
      }
    </script>

    <style type="text/css">
      #title-page-footer{
        padding-right: 15px;
      }
    </style>
  </head>

  <body style="margin: 0;" onload="subst();handleFooterVisibility();">
    <div id="title-page-footer" style="display: none; text-align: right">
      <% # NOTE: The span.page is needed for current page detection in handleFooterVisibility(); function %>
      <span class="page" style="display: none;"></span>

      <%= image_tag '/images/handout-footer-logo.png', :width => "180" %>
    </div>
  </body>
</html>
