%html
  %body{style: 'margin: 0'}
    - if params[:page] == '1'
      #title-page-footer{style: 'padding-right: 15px; text-align: right'}
        = image_tag '/images/handout-footer-logo.png', width: "180"
