#title-page-header
  .primary-image
    = image_tag @real_estate.media_assets.primary_image.file
  .frame-overlay
    = image_tag('vision/frame.png')
  .primary-title
    = @real_estate.title
    %span
      Etappe 4 | Miete Privat, Text zu definieren

.chapter
  %h2= t('.overview.title')
  %ul
    %li.group
      .label Liegenschaft
      .content Wohnüberbauung Gartenstadt, 4. Ettappe, Wohnung H5
    %li.group
      .label Adresse
      .content Badenerstrasse 34, 8952 Schlieren
    %li.group
      .label Geschoss
      .content 1. Obergeschoss
    %li.group
      .label Zimmeranzahl
      .content 4.5-Zimmer Wohnung
    %li.group
      .label Bruttonutzfläche
      .content 120m2