#head-of-alfred-mueller-gallery
  %ul.first-level-navigation
    %li
      %a.active{ :href => '#' } Vision
    %li
      %a{ :href => '#' } Verwaltungsrat
    %li
      %a{ :href => '#' } Geschäftsleitung
    %li
      %a{ :href => '#' } Referenzprojekte
  #board_of_directors.tab-slider-content
    
    .tab-container
      %ul.second-level-navigation
        %li
          %a.active{ :href => '#' } Alfred Müller
        %li
          %a{ :href => '#' } Christoph Müller
        %li
          %a{ :href => '#' } Viktor Naumann
        %li
          %a{ :href => '#' } Dr. Erich Rüegg
      %ul.slides
        %li
          = image_tag 'http://placekitten.com/1000/500'
          .tab-slider-description
            %h1
              Alfred Müller
            %h5
              Präsident des Verwaltungsrates
        %li
          = image_tag 'http://placekitten.com/1000/500'
          .tab-slider-description
            %h1
              Christoph Müller
            %h5
              Präsident des Verwaltungsrates
        %li
          = image_tag 'http://placekitten.com/1000/500'
          .tab-slider-description
            %h1
              Viktor Naumann
            %h5
              Präsident des Verwaltungsrates
        %li
          = image_tag 'http://placekitten.com/1000/500'
          .tab-slider-description
            %h1
              Dr. Erich Rüegg
            %h5
              Präsident des Verwaltungsrates
