.tab-slider
  %ul.first-level
    %li
      %a{ :href => '#' } Vision
    %li.current
      %a{ :href => '#' } Verwaltungsrat
    %li
      %a{ :href => '#' } Geschäftsleitung
    %li
      %a{ :href => '#' } Referenzprojekte
  .tab-slider-content
    %ul.second-level
      %li
        %a{ :href => '#' } Alfred Müller
      %li.current
        %a{ :href => '#' } Christoph Müller
      %li
        %a{ :href => '#' } Viktor Naumann
      %li
        %a{ :href => '#' } Dr. Erich Rüegg

    %img{ :src => '' }
    .tab-slider-description
      %h1
        Christoph Müller
      %h5
        Präsident des Verwaltungsrates