.contact-box
  .image.image-for-contact-form
    .image-caption
      .image-caption-text
        %h3= t('.title')
        %p
          = t('.person_html')
        %p
          = t('.address_html')
      .clear
  .accordion.accordion-square
    .accordion-item
      = link_to t('.form_title'), new_contact_path, :remote => true, :class => :title
      .content
        #contact
