.job-profile-slides-container
  .flexslider
    %ul.slides
      %li
        %video.sublime{ :poster => '/movies/poster.jpg', :width => '1000', :height => '500', :preload => 'preload' }
          %source{ :src => '/movies/alfred_mueller_movie.mp4' }
      %li
        %video.sublime{ :poster => '/movies/poster.jpg', :width => '1000', :height => '500', :preload => 'preload' }
          %source{ :src => '/movies/alfred_mueller_movie.mp4' }
      %li
        %video.sublime{ :poster => '/movies/poster.jpg', :width => '1000', :height => '500', :preload => 'preload' }
          %source{ :src => '/movies/alfred_mueller_movie.mp4' }
      %li
        %video.sublime{ :poster => '/movies/poster.jpg', :width => '1000', :height => '500', :preload => 'preload' }
          %source{ :src => '/movies/alfred_mueller_movie.mp4' }

