.job-profile-slides-container
  .flexslider
    %ul.slides
      %li
        %video.sublime{ :poster => '/movies/bauleiter.png', :width => '1000', :height => '500', :preload => 'preload' }
          %source{ :src => '/movies/alfred_mueller_bauleiter.mp4' }
      %li
        %video.sublime{ :poster => '/movies/immobilienverwalterin.png', :width => '1000', :height => '500', :preload => 'preload' }
          %source{ :src => '/movies/alfred_mueller_immobilienverwalterin.mp4' }

