.tab-slider
  %ul.first-level-navigation
    %li
      %a.active{ :href => '#building-site-manager' } Bauleiter
  .flex-container.tab-content#building-site-manager
    .flexslider
      %ul.slides
        %li
          %video.sublime{ :poster => '/movies/bauleiter.png', :width => '100%', :height => '100%', :preload => 'preload' }
            %source{ :src => '/movies/alfred_mueller_bauleiter.mp4' }
