.accordion__item
  .accordion__title= t('real_estates.show.contact_title')
  .accordion__content
    %p
      - if contact.image.present?
        = image_tag contact.image
    = contact.contact_info(@real_estate)
