textarea
  height: 90px

textarea.short
  height: 40px

.mandatory
  > label:after
    content: " *"

  > label
    font-weight: bold

  input, textarea, select
    border-width: 1px
    border-color: #666

.hidden
  display: none

.push-checkboxes-down
  input[type='checkbox']
    margin-top: 6px

.push-inline-labels-down
  margin-top: 5px

