.js
  .accordion-item
    .title
      cursor: pointer

    .content
      max-height: 0px
      overflow: hidden
      +single-transition(max-height)

    &.open
      .content
        // fake max-height because height: auto is not supported in animations
        max-height: 2000px

.accordion-classical
  .title
    padding: 0 1.25em
    margin: 0.35em 0
    @extend .arrow-middle-right

    &:hover
      @extend .arrow-middle-gold-right
      color: $classic

  .open
    .title
      @extend .arrow-middle-gold-down
      color: $classic

      &:hover
        @extend .arrow-middle-gold-down

  .content
    margin-left: 2em
