.appointment
  +column(10)
  background: yellow
  .headline
    +column(9)
    +push(1)
    background: #8a2be2
  .contact-form
    +column(4)
    +push(1)
    background: green
  .appointment-contact-information
    +reset-box-model
    +column(5)
    background: red