.appointment
  +column(10)
  background: $brown
  min-height: 485px

  .placeholders
    +appointments-placeholder

  input[type=submit]
    margin: 30px 0 0 0
    width: 210px

  input[type=text]
    width: 90%

  .headline
    +column(9)
    +push(1)

    h2
      margin: 2.5em 0 1.5em 0

  .col
    +column(3)

    &.first
      +column(2.5)
      +push(1)

  .alert
    +column(9)
    +push(1)

  .appointment-contact-details
    padding-left: 1em

  .field_with_errors
    float: none

    input[type=text]
      border: 1px solid red

  .contact-form
    .controls
      margin-left: 0

      .short
        margin-right: 3%
        margin-left: 0
        width: 25%

      .medium-short
        width: 55%

      .field_with_errors
        .short
          margin-right: 1%
