//----------------------------------------------
// Html5 Boilerplate overrides
//----------------------------------------------

$line-height: 1.4

$dark:        #0A1930
$normal:      #455264
$inverted:    #BBBB99
$brown:       #DCDAD0
$clay:        #efecde
$dark_clay:   #a19f90
$browny:      #cac9c3
$footer-title:#666

$white: #ffffff
$black: #000000

$title-color: #455264
$text-color: #455264
$classic: #BBBB99
$dark-title-color: #0A1930

$dark-border-color: $title-color

$link-color: #0A1930
$link-hover-color: #455264
$link-visited-color: #0A1930

$secondary-link-color: #a3a9b1

$selected-font-color: #455264
$selected-background-color: #a3a9b1
$invalid-background-color: #f0dddd

$search-background-color: #eeeeee
$search-hover-color: #b9ba9b
$search-item-color: #f5f5f5

$search-filter-border-dark: #a6a7a6
$search-container-border-top: lighten($search-background-color, 10%)

$border-light: lighten($search-filter-border-dark, 10%)

$head-of-alfred-mueller-tab-slider-border: #dddddd

// Teaser Colors
$gray-light: #d9dee4
$gray-dark: #7F96A8
$gray-blue: #5d788f
$browny: #CEC7A1
$browny-light: #E8E5D6

// Mixins ---------------------------------------------------------------

//Placeholder Mixins are borrowed from https://gist.github.com/923780
=placeholder
  &::-webkit-input-placeholder
    @children
  &:-moz-placeholder
    @children
  &.placeholder
    @children

=appointments-placeholder
  +placeholder
  color: $classic

//form submit button mixin
=form-submit
  background: #edeae5 image-url('button-bg.png') repeat-x
  border: 1px solid #848273
  padding: 0.5em 1em
  display: inline-block
  cursor: pointer

//
// Adds a background image and includes the retina version as well
// Usage: +retina-image("test") # => uses images/test.png and images/test@2x.png
//
=retina-image($image_name, $extension: '.png')
  background:
    image: image-url($image_name + $extension)
    image: none, image-url($image_name + '.svg')
    repeat: no-repeat
