//----------------------------------------------
// Html5 Boilerplate overrides
//----------------------------------------------

$line-height: 1.4
$dark-title-color: #0A1930
$title-color: #455264
$text-color: #455264
$classic: #BBBB99

$dark-border-color: $title-color

$link-color: #0A1930
$link-hover-color: #455264
$link-visited-color: #0A1930

$secondary-link-color: #a3a9b1

$selected-font-color: #455264
$selected-background-color: #a3a9b1
$invalid-background-color: #f0dddd

$search-background-color: #e3e3e3
$search-hover-color: #b9ba9b
$search-item-color: #f5f5f5
