.text-font
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif
  font-size: 15px
  font-weight: 400
  font-style: normal

.title-font
  font-family: "kulturista-web", serif
  font-weight: 300

.title-font-bold
  font-family: "kulturista-web-n6", "kulturista-web", serif
  font-weight: 600

.text-font-bold
  font-family: "proxima-nova-i6", "proxima-nova", sans-serif
  font-weight: 600

.classic
  @extend .title-font-bold

a
  +link-colors($normal, $dark)

a, a:link, a:visited, a:active
  text-decoration: none
  @extend .title-font

a.classic:link, a.classic:visited, a.classic:active
  color: $inverted

a.classic:hover
  color: $normal

body
  @extend .text-font

h1
  @extend .title-font-bold
  font-size: 3.1em
  line-height: 1em
  font-weight: normal
  margin-left: 10%

h2
  @extend text-font-bold
  font-size: 2.25em
  color: $link-hover-color
  text-transform: uppercase
  letter-spacing: 0.05em
  margin-bottom: 0.75em
  margin-top: 2em

h3
  @extend text-font-bold
  font-size: 1.25em
  color: $dark
  margin-bottom: -0.5em
  margin-top: 2em
  text-transform: uppercase

h4
  @extend .title-font-bold
  font-size: 1.25em
  color: $dark

h5
  @extend .text-font
  font-size: 1.25em
  color: $footer-title
  margin-top: 1em 0

strong
  font-weight: 600

h3:first-child
  margin-top: 1em

input, select, textarea
  font-size: 1em

.main-navigation
  font-size: 1.1em

  .selected
    //text-decoration: underline
    a
      border-bottom: 1px solid $normal
      +link-colors($dark)

  a
    @extend .title-font-bold
    +link-colors($normal)

.meta-navigation
  font-size: 0.9em

  a
    +link-colors($secondary-link-color, $link-color, $secondary-link-color, $secondary-link-color, $secondary-link-color)

  a, a:link, a:visited, a:active
    @extend .text-font

.more, .less
  +link-colors($classic)

.real_estates
  h1
    font-size: 2.1em
    line-height: 1.1em
    margin-left: 0

.flex-caption
  span
    @extend .text-font-bold

.accordion-classical
  .title
    font-size: 1.5em
    @extend .title-font

    &:hover
      color: $classic

    .open
      .title
        &:hover
          color: $classic

.accordion-square
  .title
    font-size: 1.5em
    color: #fff
    line-height: 1em
    @extend .text-font

    &:hover
      color: $clay

  .content
    color: #fff

  .open
    .title
      &:hover
        color: #fff

    .content
      color: lighten($clay, 6%)

  h3
    color: #fff

.vision-slider
  .toggle
    @extend .text-font-bold

  .image-caption-text
    h3
      @extend .title-font-bold 
      font-size: 2em
      line-height: 1.15em

    a, a:link, a:visited, a:active
      @extend .title-font-bold
      color: $dark

#footer
  a
    @extend .title-font-bold
  a
    +link-colors($dark)