.abstract-arrow
  display: inline-block
  background-repeat: no-repeat

.arrow-small-blue-right
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-small-blue-right.png')
  background-position: right center
  padding-right: 13px

.arrow-small-blue-left
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-small-blue-left.png')
  background-position: left center
  padding-left: 13px

.arrow-middle-right
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-middle-right.png')
  background-position: left 7px

.arrow-middle-gold-right
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-middle-gold-right.png')
  background-position: left center

.arrow-middle-gold-down
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-middle-gold-down.png')
  background-position: left center

.arrow-down
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-down.png')
  background-position: right center

.arrow-up
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-up.png')
  background-position: right center

.arrow-down-blue
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-down-blue.png')
  background-position: right center

.arrow-up-blue
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-up-blue.png')
  background-position: right center

.arrow-blue-left
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-blue-left.png')

.arrow-blue-right
  @extend .abstract-arrow
  background-image: image-url('arrows/arrow-blue-right.png')

.arrow-tailed-small-left
  @extend .abstract-arrow
  background: image-url('arrows/arrow-tailed-small-left.png') no-repeat left center
  padding-left: 20px

.arrow-tailed-small-right
  @extend .abstract-arrow
  background: image-url('arrows/arrow-tailed-small-right.png') no-repeat left center
  padding-left: 20px

.arrow-middle-white-right
  @extend .abstract-arrow
  background: image-url('arrows/arrow-middle-white-right.png') no-repeat

.arrow-middle-beige-down
  @extend .abstract-arrow
  background: image-url('arrows/arrow-middle-beige-down.png') no-repeat

.arrow-dropdown
  background-image: image-url('arrows/arrow-dropdown.png')
  background-repeat: no-repeat
  background-position: right center

.abstract-icon
  @extend .abstract-arrow
  background-position: left center

.icon-description
  @extend .abstract-icon
  background-image: image-url('icons/icon-description.png')
  padding-left: 26px

.icon-favorit
  @extend .abstract-icon
  background-image: image-url('icons/icon-favorit.png')
  padding-left: 26px

.icon-groundplan
  @extend .abstract-icon
  background-image: image-url('icons/icon-groundplan.png')
  padding-left: 26px

.icon-printer
  @extend .abstract-icon
  background-image: image-url('icons/icon-printer.png')
  padding-left: 26px

.icon-mail
  @extend .abstract-icon
  background-image: image-url('icons/icon-mail.png')
  padding-left: 26px

.icon-pdf
  @extend .abstract-icon
  background-image: image-url('icons/icon-pdf.png')
  padding-left: 26px

.icon-document
  @extend .icon-pdf

.icon-pen
  @extend .abstract-icon
  background-image: image-url('icons/icon-pen.png')
  padding-left: 26px

.icon-globe
  @extend .abstract-icon
  background-image: image-url('icons/icon-globe.png')
  padding-left: 26px

.image-link
  +hide-text

.image-for-contact-form-de, .image-for-contact-form-en
  background: image-url('jobs-contact-de.jpg') no-repeat top right
  height: 273px

.image-for-contact-form-fr
  background: image-url('jobs-contact-fr.jpg') no-repeat top right
  height: 273px

.image-for-contact-form-it
  background: image-url('jobs-contact-it.jpg') no-repeat top right
  height: 273px

.image-for-job-application-de, .image-for-job-application-en
  background: image-url('jobs-application-de.jpg') no-repeat top right
  height: 400px !important

.image-for-job-application-fr
  background: image-url('jobs-application-fr.jpg') no-repeat top right
  height: 400px !important

.image-for-job-application-it
  background: image-url('jobs-application-it.jpg') no-repeat top right
  height: 400px !important

