img.north-arrow
  width: 60px
  height: 60px

.north-arrow-container
  background-color: #ffffff
  position: absolute
  overflow: hidden

  .floorplan-zoomed &
    right: 1px
    bottom: 1px

  .gallery &
    right: 50px
    bottom: 25px
