@import compass/css3
@import compass/utilities
@import semantic-grid

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea
  color: $text-color
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

.clear
  clear: both

#header
  margin-top: 1em
  +row

#main
  +row

#footer
  +row

#container
  margin: 0px auto
  max-width: 1000px

.main-logo
  background: image-url('main-logo.png') no-repeat left bottom
  height: 60px
  +hide-text
  +column(3)

.navigations
  +column(7)

.main-navigation
  +horizontal-list(0.55em)
  +float_right
  margin-top: 23px

.meta-navigation
  +horizontal-list(10px)
  +float_right