//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea
  color: $text-color
  line-height: 1.3em
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

// force vertical scrollbar
html
  overflow-y: scroll
  position: relative

html,
body
  overflow-x: hidden

.clear
  clear: both

#header
  padding-top: 270px
  margin-top: 1em
  +row

#main
  +row
  position: relative

#container
  margin: 0px auto
  max-width: #{$page-width}
  position: relative

  .nest.rotate180
    @include transform( rotate(180deg) )

  #footer .nest
    height: 99.9%
    overflow: hidden
    top: 0px

    &:after
      top: 360px
      height: 520px

    .balken
      margin-top: 840px

      &.grey:after
        content: ' '
        width: #{$nest-size}
        height: #{$nest-size}
        top: $nest-line-width
        position: absolute
        background-color: #eeeeee
        @include transform( rotate(0deg) )

    .balken:nth-child(1)
      top: -122px

  .nest
    @include transition( transform 1s )
    position: absolute
    width: #{$nest-size}
    left: #{-$nest-size/2 + $page_width/2}
    top: -33px
    z-index: -1

    .balken
      position: absolute
      width: #{$nest-size}
      //left: -#{$nest-line-width}
      left: calc( -#{$page-width}/2 + 1.7 * #{$nest-line-width} )
      margin-top: calc( #{$nest-line-width} / 6 )
      background-color: #B5B082
      height: #{$nest-line-width}

    .balken:nth-child(1)
      @include transform( rotate((-17.5deg-$nest-rotation)) )
      top: calc( #{$nest-line-width} / 4)

    .balken:nth-child(2)
      @include transform( rotate((8.5deg-$nest-rotation)) )
      background-color: #E8E4D5
      position: relative
      top: -#{$nest-line-width}

    .balken:nth-child(3)
      @include transform( rotate((-62deg-$nest-rotation)) )
      top: calc( -#{$nest-line-width} / 4)

    &:after
      @include transition( width 0.5s )
      background-color: white
      content: ' '
      // overlap 1/12 from page with from the right
      width: calc( #{$nest-size/2} - 50vw + 8.33vw )
      position: absolute
      height: #{$page-width}
      right: 0
      top: 55px

  &:after,
  &:before
    content: ' '
    position: absolute
    top: -3000px

  &:after
    +retina-image('50_jahre_icon')
    height: 160px
    width: 160px
    top: 20px
    background-size: contain
    margin-left: 70px

.main-logo
  position: relative
  +retina-image("main-logo")
  background-position: left bottom
  height: 60px
  +hide-text
  +column(3)

.navigations
  +column(7)

.navigation-link-open, .navigation-link-close
  display: none

.main-navigation
  +horizontal-list(0.55em)
  +float_right
  margin-top: 15px

  > li
    position: relative

.footer-navigation
  +horizontal-list
  margin-bottom: 4em

  li
    padding-left: 0
    padding-right: 1.1em

.meta-navigation
  +horizontal-list(10px)
  +float_right

  .language-switch
    text-transform: uppercase

h1, h2, h3, h4, p, ul, ol
  margin: 0.5em 0

.container
  margin: 1em
  position: relative
  overflow: hidden

.icon-list
  margin: 2em 0
  +no-bullets

  .pages &
    margin: 2em 0
    +no-bullets

#footer
  +row
  margin-top: 1em
  position: relative
  padding: 5em 0
  height: 1532px

  &:before
    content: ' '
    display: block
    position: absolute
    width: 100%
    height: 167px
    z-index: -1
    left: 0
    margin-top: -75px
    background-color: $search-background-color

  h4
    font-size: 2.25em
    line-height: 1
    padding: 0.5em 0

  h6
    font-weight: bold

.footer-wrapper
  +clearfix

.footer-news
  +column(3)

.footer-teasers
  +column(3)
  margin-left: 5%
  margin-right: 5%

.footer-contact
  +column(3)
  .memberships dd
    padding-bottom: 7px

  > div
    margin-left: 80px

.footer-news, .footer-teasers, .footer-contact
  div
    margin-bottom: 60px
