.brick
  width: 75%
  margin: 1em 0

  &.accordion-brick
    margin: 3em 0

  &.download-brick
    margin: 0.5em 0
    a
      line-height: 1.4em

.content
  ul
    margin-left: 1.5em

  li
    list-style: disc
    margin: 0.5em 0

  .flexslider
    ul
      margin-left: 0

    li
      +no-bullet

.section
  margin: 2em 0

.expandable
  margin: 1em 0

.more
  @extend .arrow-down
  padding-right: 1.5em
  margin: 0 0 1em 0

  &:hover
    @extend .arrow-down-blue
    color: $title-color

.less
  @extend .arrow-up
  padding-right: 1.5em
  margin: 0 0 1em 0

  &:hover
    @extend .arrow-up-blue
    color: $title-color

.contact-box
  background: $dark_clay
  color: $clay

  .image
    height: 400px
    margin-bottom: 1px
    position: relative

  .label
    +float_left

  .field
    margin-left: 150px

  .row
    extend .clearfix
    margin-bottom: 0.5em

.image-caption-text
  +float_right
  width: 280px
  color: $dark
  padding: 1em 0 0 0

  h3
    margin-bottom: 0.25em

.image-caption
  background: image-url('image-caption-top.png') no-repeat right top
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0

.icon-list
  +no-bullets

  li
    line-height: 2em

.jobs
  a
    +link-colors(#fff)
