.search-container
  background: $search-background-color
  +column(10)
  border-top: 1px solid $search-container-border-top
  h2
    margin-left: 10px

.search-results
  +column(5, 10)

.map
  +column(5, 10)

table
  width: 100%

tr
  background-color: $search-item-color
  &:hover
    background: url(gradient-search-list-hover.png) repeat-x
    background-color: $search-hover-color
td
  padding: 14px 0
  line-height: 15px
  border-bottom: solid
  border-color: $search-background-color
  
  &:first-child
    padding: 0
    line-height: 0

.detail
  background: $search-background-color
  +clearfix

.gallery
  +column(10, 10)
  margin-bottom: 1em

  img
    width: 100%

.short-infos
  .info
    +column(2, 6)
    @extend .text-font-bold
    margin:
      bottom: 1.5em
  
.description
  +column(6, 10)
  +push(1)

  h1
    @extend .title-font-bold

.sidebar
  +column(3, 10)
  @extend .text-font-bold

  ul
    +no-bullets
    margin-left: 40px

    li
      line-height: 2em
  
  .nav
    margin:
      top: 1.5em
      bottom: 1.5em

    ul
      +horizontal-list(0.25em)
      +no-bullets
      margin-left: 30px

.search-filter-container
  position: relative
  border-bottom: 1px solid $search-filter-border-dark
  margin-top: 1em

  li
    padding: 10px 20px
    line-height: 1.5em

.search-filter-form
  background: $clay
  padding: 20px

  label
    margin-right: 15px

  select
    margin-right: 20px

.offer-tabs
  ul
    +horizontal-list(false, right)

    li
      background: $search-background-color

    .selected
      background: $browny

.utilization-tabs
  background: $browny
  ul
    +horizontal-list(false)

    li
      background: $browny

    .selected
      background: $clay
