.search-container
  background: $search-background-color
  +column(10)
  border-top: 1px solid $search-container-border-top
  h2
    margin-left: 10px

.search-results
  +column(5, 10)

.map
  +column(5, 10)

table
  width: 100%

tr
  background-color: $search-item-color
  &.active
    background: url(gradient-search-list-hover.png) repeat-x
    background-color: $search-hover-color
    cursor: pointer
td
  padding: 14px 0
  line-height: 15px
  border-bottom: solid
  border-color: $search-background-color

  &:first-child
    padding: 0
    line-height: 0

.detail
  background: $search-background-color
  padding-bottom: 2em
  +row

.gallery
  +column(10)
  margin-bottom: 2em

  img
    width: 100%

.main-title
  +column(9)
  +push(1)

  h1
    @extend .title-font-bold

.short-info
  +row

  .info.first
    +push(1)

  .info
    +column(2, 9)
    @extend .text-font-bold
    margin:
      bottom: 1.5em

.description
  +column(6, 10)
  +push(1)

.sidebar
  +column(3, 10)
  @extend .text-font-bold

  ul
    @extend .icon-list
    margin-left: 2em

.result-nav
  +float_right
  border: 1px solid $search-filter-border-dark
  border-bottom: 0px solid transparent
  padding: 0.75em 0.75em 0.5em 0.75em
  margin-right: 1em
  position: relative
  top: -38px
  background: $search-background-color
  display: none

  ul
    +horizontal-list(0.5em)
    +no-bullets

.search-filter-container
  position: relative
  border-bottom: 1px solid $search-filter-border-dark
  margin-top: 1em

  li
    padding: 10px 20px
    line-height: 1.5em

.search-filter-form
  background: $brown
  padding: 20px

  label
    margin-right: 15px

  select
    margin-right: 20px
    width: 200px

  input[type=submit]
    +form-submit

  .chzn-container-multi
    .chzn-choices
      background-color: #e6e6e2
      @extend .arrow-dropdown

  .chzn-container
    vertical-align: middle
    margin-right: 20px

.offer-tabs
  ul
    +horizontal-list(false, right)

    li
      background: $search-background-color

    .selected
      background: $browny

.utilization-tabs
  background: $browny
  ul
    +horizontal-list(false)

    li
      background: $browny

    .selected
      background: $brown

.zoom-floorplan
  background: image-url("arrows/arrow-zoom.png") no-repeat
  width: 36px
  height: 36px
  left: 25px
  top: 25px
  position: absolute
  +hide-text
