.flex-direction-nav
  li
    a
      width: 50px
      height: 50px
      display: block
      position: absolute
      top: 50%
      margin-top: -25px
      cursor: pointer
      +hide-text

    .next
      right: 0px
      @extend .arrow-blue-right
      background-position: center center

    .prev
      left: 0px
      @extend .arrow-blue-left
      background-position: center center

    .disabled
      +opacity(0.3)
      cursor: default

.flex-caption
  position: absolute
  bottom: 0px
  left: 0px
  width: 100%
  height: 85px
  background: image-url('image-caption-bottom.png') no-repeat -80px 15px

  span
    position: absolute
    padding: 5px 20px
    left: 0px
    bottom: 0px

.map-slider
  position: absolute
  top: 0
  left: 100%
  width: 95%
  height: 100%
  z-index: 2
  +single-transition('left')

  .map-slide
    border-left: 5px solid $dark-title-color
    margin-left: -5px
    height: 100%
    background: white

  .map-handle
    margin-left: -45px
    width: 45px
    height: 55px
    margin-top: 25px
    +float_left
    cursor: pointer
    background: $dark-title-color image-url('map-handle.png') no-repeat center center

  &.open
    left: 5%

.services-slides-container
  position: relative
  overflow: hidden
  height: 560px
  .handle
    margin: 0
    padding: 0
    height: 40px
    width: 12.5%
    cursor: pointer
    text-align: center
    vertical-align: middle
    background-color: #EEEEEE
    h3
      padding-top: 10px
      text-transform: none
  .caption
    position: absolute
    top: 5%
    left: 40%
    text-align: center
  .link-box
    position: absolute
    top: 59px
    left: 0
    width: 12.5%
    ul
      margin: 0
    li
      height: 30px
      padding: 10px 0px 0px 15px
      background: image-url('button-bg.png') repeat-x
  img
    opacity: 0.3
  .active
    img
      opacity: 1

.rent-slide
  position: absolute
  height: 100%
  width: 80%
  background: white

.sale-slide
  position: absolute
  height: 100%
  width: 80%
  left: 80%
  +single-transition('left')
  border-left: solid white
  background: white
  &.open
    left: 10%

.build-slide
  position: absolute
  height: 100%
  width: 80%
  left: 90%
  +single-transition('left')
  border-left: solid white
  background: white
  &.open
    left: 20%
    opacity: 1
