.teaser-row
  +clearfix

  .teaser
    float: left
    padding: 5%
    position: relative
    margin-top: 1.5%
    word-wrap: break-word
    -webkit-hyphens: auto
    -moz-hyphens: auto
    hyphens: auto

    h2
      margin-top: 0
      text-transform: none

  .teaser-left
    width: 56%
    margin-right: .75%

  .teaser-right
    width: 22.5%
    float: right
    margin-left: .75%

  .teaser-overlaps-left:before
    content: ''
    background-color: transparent
    position: absolute
    top: 0
    bottom: 0
    width: 9999px
    right: 100%

  .teaser-overlaps-right:after
    content: ''
    background-color: transparent
    position: absolute
    top: 0
    bottom: 0
    width: 9999px
    left: 100%

  .teaser-grey
    background-color: #d9dee4
    padding-bottom: 210px

    &.teaser-overlaps-left:before
      background-color: #d9dee4

  .teaser-blue
    background-color: #7F96A8

    &.teaser-overlaps-right:after
      background-color: #7f95a6

  .teaser-blue-dark
    background-color: #5d788f

  .teaser-browny
    background-color: #CEC7A1
    padding-bottom: 170px

  .teaser-beige
    background-color: #E8E5D6
    padding-bottom: 91px

  .teaser-img-bg
    padding-bottom: 275px
    background-image: image-url('placeholder_325_480.gif')
    background-position: center
    background-repeat: no-repeat
    background-size: auto 100%
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image_path('placeholder_325_480.gif')}',sizingMethod='scale')
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image_path('placeholder_325_480.gif')}', sizingMethod='scale')"

  .teaser-with-video
    padding: 0
    width: 66%

  .teaser-with-image
    padding: 0

    img
      width: 100%

    .inner
      padding: 5%

.teaser-brick
  width: 100%

  .teaser-row
    overflow: hidden
    position: relative

  .teaser
    margin-bottom: -100%
    padding-bottom: 100%

    p
      margin-bottom: 170px
