#image-cropping
  .choose-ratio-box
    .control-group
      = label_tag :fix_ratio, t('.aspect_ratio')
      .controls
        = check_box_tag(:fix_ratio)

    = form_for @image, :as => :floor_plan, :url => cms_real_estate_floor_plan_path(@real_estate, @image), :html => { :multipart => true } do |f|
      = render 'form', :f => f
