@import compass/reset
@import compass/utilities
@import partials/base
@import partials/north_arrow_overlay

// NOTE: Wkhtmltopdf (QT) cant work with more than one font-faces
// Be aware of this issue but currently it works
// https://code.google.com/p/wkhtmltopdf/issues/detail?id=410

@font-face
  font-family: "RockwellStd"
  src: font-url("RockwellStd.otf") format("opentype")

@font-face
  font-family: "GothamBook"
  src: font-url("Gotham-Book.otf") format("opentype")

$title-font: "RockwellStd"
$text-font: "GothamBook"

.pb-before
  page-break-before: always !important
.pb-after
  page-break-after: always !important
.pbi-avoid
  page-break-inside: avoid !important

body
  font-family: $text-font
  line-height: 135%

h2
  font-family: $title-font
  font-size: 18pt
  color: $dark
  line-height: 1em
  margin: 30px 0px 15px 0px
  @extend .pbi-avoid

strong, b
  font-family: 'Gotham Bold'

.helptext
  font-size: 7pt
  line-height: 16px

#title-page-header
  position: relative
  height: 380px

  .frame-overlay, .primary-image
    position: absolute
    left: 0
    top: 0

  .frame-overlay
    z-index: 2
    width: 100%

    img
      width: 100%

  .primary-image
    z-index: 1

    img
      width: 100%

  .primary-title, .primary-title-dots
    position: absolute
    top: 275px
    z-index: 3
    font-size: 28pt
    line-height: 1em
    color: $dark
    font-family: $title-font

  .primary-title
    left: 60px
    width: 80%

    span
      font-family: $text-font
      font-size: 9pt
      display: block
      margin-top: -10px

  .primary-title-dots
    left: 20px
    width: 30px

.chapter
  margin: 60px
  +clearfix

  dl
    +clearfix
  dt
    padding: 0.25em 0
    font-weight: bold
    font-family: $title-font
    font-size: 9pt
    float: left
    clear: left
    width: 140px
    line-height: 1.35em
    @extend .pbi-avoid

  dd
    padding: 0.25em 0
    margin-left: 155px
    font-size: 9pt
    line-height: 1.35em
    @extend .pbi-avoid

    &.dd-without-margin
      margin-left: 0

  .value, .currency
    +float_left

    &.shrinked
      width: 70px

  .value
    display: block
    width: 120px
    text-align: right

  .value-string
    width: 49%
    text-align: left

  .price_to_be_displayed_monthly
    margin-left: 1%

  .currency
    display: block
    width: auto
    padding-left: .25em

  .currency-monthly, .value-monthly
    float: right

  .disclaimer
    margin-top: 10px
    font-size: small

  .floorplan-image
    position: relative
    img
      max-width: 100%
      max-height: 800px

  .enlarged-image, .smaller-images
    font-size: 10pt
    font-family: $title-font
    line-height: 1em

    h3
      padding: 1em 0 0.35em 0

  .enlarged-image
    margin: 0 0 1em 0
    img
      max-width: 100%

  .smaller-images
    .image-row
      overflow: auto

    h3
      height: 2em
      position: relative

      span
        display: block
        position: absolute
        bottom: 0.25em
        left: 0


    .col-left, .col-right
      display: block
      margin: 0 0 1em 0
      width: 49%
      float: left
      img
        max-width: 100%

    .col-right
      margin-left: 2%

ul, p
  margin: 1em 0
  @extend .pbi-avoid

  li
    margin: 0.5em 0

  &:first-child
    margin-top: 0

ul
  margin-left: 20px
  list-style: disc outside

.north-arrow
  padding-bottom: 5px
