.appointment-contact-details
  %h4.text-font-bold Ihre Kontaktperson
  %dl
    %dd
      =contact.firstname
      =contact.lastname
    %dd
      =contact.phone
    %dd.text-font-bold
      = contact.email