.appointment
  .headline
    %h2 Vereinbaren Sie einen Termin mit uns

  .contact-form
    = render "appointments/form"

  .appointment-contact-details
    = render "appointments/contact_information", :contact=>@real_estate.contact
