= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @floor_plan, :as=>:floor_plan, :url=>cms_real_estate_floor_plans_path(@real_estate), :html => { :multipart => true } do |f|
  = render 'form', :f=>f