.flex-container
  .flexslider
    %ul.slides
      - projects.each do |reference_project|
        %li
          = image_tag reference_project.image.gallery.url
          = reference_project_image_caption_div reference_project do
            .image-caption-text
              %h3= reference_project.title

              - if reference_project.respond_to?(:real_estate)
                - if reference_project.real_estate.present? && reference_project.real_estate.published? && reference_project.real_estate.is_website?
                  %p=link_to(t('reference_projects.link_title'), real_estate_path(reference_project.real_estate, :offer => reference_project.real_estate.offer, :utilization => reference_project.real_estate.utilization))

                - if reference_project.url.present?
                  %p=link_to(t('reference_projects.project_website_link'), reference_project.url)

                - if reference_project.description.present?
                  %p= reference_project.description
