.flex-container
  .flexslider
    %ul.slides
      - projects.each do |real_estate|
        %li
          = image_tag real_estate.images.primary.file.gallery.url
          .image-caption
            .image-caption-text
              = real_estate.reference_project_caption
