.vision-slider
  .toggle
    .toggle-open
      OPEN
    .toggle-close
      CLOSE
  .flexslider
    .vision-frame
      = image_tag 'vision/frame.png'
    %ul.slides
      %li
        = image_tag 'vision/slide-1.jpg'
      %li
        = image_tag 'vision/slide-1.jpg'