.vision-slider.open
  .toggle
    TOGGLE
  .flexslider
    .vision-frame
      = image_tag 'vision/frame.png'
    %ul.slides
      %li
        = image_tag 'vision/slide-1.jpg'
      %li
        = image_tag 'vision/slide-1.jpg'