%h3 Teaser Baustein
= brick.teaser_1.title if brick.teaser_1.present?
= brick.teaser_2.title if brick.teaser_2.present?
%br
= brick.teaser_3.title if brick.teaser_3.present?
= brick.teaser_4.title if brick.teaser_4.present?
