%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{name: 'pdfkit-footer_html', content: footer_real_estate_handout_url}
    = stylesheet_link_tag 'handout', media: :all
  %body
    #minidoku
      = yield
